@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Raleway:wght@300;400;500;600&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  // font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: $clr-light;
  // color: $clr-dark;
  // background-color: $clr-dark;
  // color: white;
  
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1; //???
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear {display: none;}
button {
  cursor: pointer;
  &:hover {
    // color: $clr-hover !important; 
  }
}
button::-moz-focus-inner{border: 0; padding: 0;}
a, a:visited{color: inherit; text-decoration: none;}
a:hover{
  text-decoration: none;
  // color: $clr-hover;
}
ul li {list-style: none;}
h1,h2,h3,h4,h5,h6 {
  // font-weight: 600; font-size: inherit;
  font-family: 'Comfortaa'
}



.app {
  min-height: 100vh;
}

.main-font {
  font-family: 'Comfortaa';
}

.vh-12 {
  height: 12vh;
}

.vh-88 {
  min-height: 88vh;
}

.white {
  color: rgb(233, 233, 233);
}

.i-size-25 {
  font-size: 25px 
}

.i-size-20 {
  font-size: 20px;
}

.search-icon {
  & > * {font-size: 20px;}
}

.hover-icon {
  transition: all 0.2s ease-in-out;
    &:hover > * {
    color: #1266F1 !important;
    transition: all 0.2s ease-in-out;
  }
}

.nav-icon:hover {
  color: #1266F1 !important;
  cursor: pointer;
}

.nav-icon-container:hover {
  border-color: #1266F1 !important;
}

.input-sm {
  height: 40%;
}

.container-full-height {
  height: 100%;
}

.hidden {
  display: none;
}

.mock-avatar {
  font-size: 45px;
  // max-height: 1rem;
  display: flex;
  aspect-ratio: 1/1;
  // border-radius: 100%
}

.username {
  font-size: 20px;
  &:hover {
    strong {
      text-decoration: underline;
    }
  }
}

.post-date {
  font-size: 14px;
}

.more-dots {
  font-size: 25px;
}

.post-function-btn {
  font-size: 14px;
}

.post-comment-input {
  box-sizing: border-box; 
}

.add-image-icon {
  background-color: white !important;
  // border-top: 1px solid #ced4da !important;
  // border-bottom: 1px solid #ced4da !important;
}

textarea {
  resize: none !important;
  overflow: hidden;
  &:hover {
    resize: vertical !important;
  }
}

.feed-create-post-container {
  position: relative !important;
}

.bg-white {
  background-color: white;
}

.feed-create-post-btn-container {
  position: absolute;
  right: 5px;
  bottom: 5px;
}